<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74204962977-mm8mdi0okie838onhed8vq876ig5663f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74204962977-mm8mdi0okie838onhed8vq876ig5663f</string>
	<key>API_KEY</key>
	<string>AIzaSyCnK_ssWBL-lA3Jpyb9ijePblOcWhN92vk</string>
	<key>GCM_SENDER_ID</key>
	<string>74204962977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.bakerystud.exifios</string>
	<key>PROJECT_ID</key>
	<string>exif-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>exif-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74204962977:ios:9fe336e4a9061b2b7710e0</string>
	<key>DATABASE_URL</key>
	<string>https://exif-demo.firebaseio.com</string>
</dict>
</plist>